<h1 class="animated fadeIn fast">Sobre ComicApp</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque neque dolores accusamus corrupti qui harum dolorem molestiae quod itaque. Recusandae quas corporis atque eos velit itaque libero unde harum blanditiis.
</p>

<p class="animated fadeIn">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque expedita nobis quas. Voluptatem ipsum asperiores laborum eligendi ipsa perspiciatis dicta nihil alias odio veritatis explicabo, minima ab maxime aperiam possimus.</p>